@model Fiap.Apostila08.MVC.Web.Models.Consulta
@{
    ViewBag.Title = "Editar";
}

<h2>Editar Consulta</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.ConsultaId)
    <div class="form-group">
        @Html.LabelFor(c => c.Data)
        @Html.TextBoxFor(c => c.Data, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Especialidade)
        @Html.TextBoxFor(c => c.Especialidade, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Local)
        @Html.TextBoxFor(c => c.Local, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Paciente)
        @Html.DropDownListFor(c => c.PacienteId, ViewBag.pacientes as SelectList,
            new { @class = "form-control"})
    </div>
    <div class="form-group">
        <input type="submit" value="Editar" class="btn btn-primary" />
    </div>
}

