@model Fiap.Apostila08.MVC.Web.Models.Paciente
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Paciente</h2>

@if(TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(p => p.Nome)
        @Html.TextBoxFor(p => p.Nome, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.DataNascimento)
        @Html.TextBoxFor(p => p.DataNascimento, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(p => p.PlanoSaude)
        @Html.LabelFor(p => p.PlanoSaude)
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
}

